<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bncjdsf</key>
	<string>app_name</string>
	<key>qkbsdm</key>
	<string>11111111</string>
	<key>asdfwfg</key>
	<string>opi</string>
	<key>pjkhdfkjre</key>
	<string>cphub</string>
	<key>quidfnmbd</key>
	<string>link</string>
	<key>cnnfdkgfg</key>
	<string>9986sdff5s4f1123</string>
	<key>pmvmbng</key>
	<string>9986sdff5s4y456a</string>
	<key>nmnfjkdg</key>
	<string>nextTap</string>
	<key>oimadklfg</key>
	<string>uidfbjkwebjdf</string>
	<key>qoikxcnvf</key>
	<true/>
</dict>
</plist>
